<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <title>Registracion</title>
 </head>
<body>
        <div>
            <div class="hero-image">
                <div class="hero-text">
                <h1>Chat online Registracion</h1>
                <form action="">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="surname">
                    <br>
                    <br>
                    <input type="email" placeholder="Email">
                    <input type="number" placeholder="Phone number">
                    <br>
                    <br>
                    <h4><input type="date"> women <input type="radio"> men <input type="radio"></h4>
                    <br>
                    <input type="password" placeholder="password">
                    <input type="password" placeholder="repete password">
                    <input type="submit" placeholder="submit">
                </form>
                    <script src="{{url_for('static', filename='main.js')}}" ></script>
        </div>


</body>
</script>
</html>
